body{
    margin: 0px;
}
.half-width h1{

    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin-left: 70px;
    font-size: 50px;
}
.color{
    color: ;
}
.half-width p{
    margin-left: 70px;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    margin-right: 100px;
    margin-top: 300px;

}

.half-width img{
    width: 80%;
    margin-top: -190px;
}
.link-button{
    text-decoration: none;
    margin-left: 115px;
}