body{
    margin: 0px;
}
.half-width h1{

    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin-left: 70px;
    font-size: 50px;
    margin-top: -24px;
}
.color{
    color: orangered ;
}
.half-width p{
    margin-left: 70px;
    margin-top: -24px;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    margin-right: 100px;
    margin-top: 300px;

}

.half-width img{
    width: 80%;
    margin-top: -190px;
}
.link-button{
    text-decoration: none;
    margin-left: 115px;
    margin-left: 115px;
    background-image: linear-gradient(45deg, #ff8d00, #d9111191);
    padding: 10px 20px;
    border-radius: 12px;
    font-color: white;
}